* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
}

/*Sass Variables*/
//Font
$MainFont: "Open Sans", sans-serif;

//Colors
$off-white: #e8eef1;
$blue: #03b1fa;
$white: #fff;
$dark-grey: #212121;
$dark-blue: #050a30;
$black: #121212;
$gun-smoke: #878787;
$dark-charcoal: #333333;
$yellow: #ffdb58;

//Sass mixins
@mixin menuBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  h2 {
    font-size: 6rem;
  }
}

@mixin menuBoxBackground {
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
}

html {
  font-size: 10px;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/*Nav Code Starts here*/
nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  min-height: 8vh;
  width: 100vw;
  background-color: $black;
  z-index: 2000;
  //font-family: ;
}

.logo {
  color: $white;
  text-transform: uppercase;
  letter-spacing: 5px;

  h4 {
    font-size: 2.5rem;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
  z-index: 2000;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: $white;
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 100;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: $blue;
}

.hamburger {
  display: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.hamburger div {
  display: flex;
  width: 40px;
  height: 3px;
  background-color: $white;
  // margin: 5px;
  border-radius: 5px;
  position: absolute;
  transition: 0.5s;
}

.hamburger .bar1 {
  top: 15%;
  left: 0;
}

.hamburger .bar2 {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.hamburger .bar3 {
  bottom: 15%;
  left: 0;
}

.nav-toggle .bar1 {
  animation: top-line-to-x 0.8s ease-in forwards,
    top-line-rotate 0.25s 0.4s ease-in forwards;
  top: 50%;
  transform-origin: center;
  //transform: translateY(-50%) rotate(-45deg);
}

.nav-toggle .bar2 {
  animation: fade 0.4s ease-in forwards;
  opacity: 1;
}

.nav-toggle .bar3 {
  animation: bottom-line-to-x 0.8s ease-in forwards,
    bottom-line-rotate 0.25s 0.4s ease-in forwards;
  bottom: 45%;
  //transform: translateY(50%) rotate(45deg);
}

/*The Fam Page starts*/

#the-fam {
  margin-top: 8vh;
  height: 106vh;
  width: 100vw;
  background-color: $dark-grey; // #9b7878;
  flex-direction: column;

  .fam-headline {
    display: flex;
    height: 8vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 3%;

    h1 {
      font-size: 8rem;
      letter-spacing: 2px;
      color: $white;
    }
  }

  /*Swiper JS code*/
  .swiper {
    width: 100%;
    padding-top: 5%;
    height: inherit;
    //padding-bottom: max(10%);
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 420px;
    -webkit-box-reflect: below 0.1rem
      linear-gradient(transparent, transparent, $black);

    .card {
      position: relative;
      background: #000;
      height: inherit;
      overflow: hidden;
      border-radius: 10px;
      transition: 0.5s;

      .img-box {
        position: absolute;
        top: 0;
        left: 0;
        //width: 300px;
        //height: 420px;
        width: inherit;
        height: inherit;
        transition: 0.5s;

        img {
          width: 100%;
          height: inherit;
          object-fit: cover;
        }
      }
    }
  }
}

.swiper-slide .card:hover {
  transform: translateY(-20px);
  box-shadow: 0 20px 2px rgba(0, 0, 0, 0.2);
}

.swiper-slide .card:hover .img-box {
  opacity: 0.5;
}

.swiper-slide .card .card-content {
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: -100%;
  padding: 20px;
  padding-top: 5rem;
  box-sizing: border-box;
  text-align: center;
  transition: 0.5s;

  h2 {
    color: $white;
    margin: 0 0 1rem;
    padding: 0;
    font-size: 1.8rem;
  }

  h3 {
    color: $yellow;
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }

  p {
    margin: 0;
    padding: 0;
    color: $white;
    font-size: 1.4rem;
  }

  ul {
    display: flex;
    margin: 0.5rem 0 0;
    padding: 0;
    align-items: center;
    justify-content: center;

    li {
      list-style: none;

      a {
        color: $white;
        padding: 0 2rem;
        transition: 0.5s;

        i {
          font-size: 2.5rem;
          padding-top: 2rem;
        }
      }
    }
  }
}

.swiper-slide .card:hover .card-content {
  bottom: 0;
  background: linear-gradient(0deg, $blue, transparent);
}

/*The Fam Page ends*/

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.folded-container {
  min-height: 87.5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Hero Section Starts*/
.hero {
  background-image: url(/images/hero-image-3.jpg);
  background-size: cover;
  display: block;
  position: relative;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: top center;
  /*
    Parallax code below
    fixed for parallax
    scroll for normal scrolling
    */
  background-attachment: fixed;
}

/*Hero Section Ends*/

/*Grid Menu section starts*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 70vh;
}

.grid > div {
  padding: 1em;
}

.grid .about-us {
  @include menuBox();

  // background-image: url(/images/our-story-background.jpg);
}

.grid .about-us::before {
  @include menuBoxBackground();
  background-image: url(/images/about-us-b-w.jpg);
  // background-color: rgba(3, 177, 250, 0.8);
  // background-blend-mode: multiply;
}

.grid .about-us .about-us-content {
  position: relative;
  z-index: 1000;

  h2 {
    position: relative;
    color: $white;
    z-index: 1000;
  }
}

.grid .menus {
  @include menuBox();

  // background-image: url(/images/full-menu-background.jpg);
}

.grid .menus::before {
  @include menuBoxBackground();
  background-image: url(/images/menu-b-w.jpg);
}

.grid .menus .menus-content {
  position: relative;
  z-index: 1000;

  h2 {
    position: relative;
    color: $white;
    z-index: 1000;
  }
}

.grid .the-fam {
  @include menuBox();

  // background-image: url(/images/temp-our-family-pic.jpg);
}

.grid .the-fam::before {
  @include menuBoxBackground();
  background-image: url(/images/fam-b-w.jpg);
}

.grid .the-fam .fam-content {
  position: relative;
  z-index: 1000;

  h2 {
    position: relative;
    color: $white;
    z-index: 1000;
  }
}

.grid .catering {
  @include menuBox();

  // background-image: url(/images/catering-menu-background.jpg);
}

.grid .catering::before {
  @include menuBoxBackground();
  background-image: url(/images/cater-b-w.jpg);
}

.grid .catering .catering-content {
  position: relative;
  z-index: 1000;

  h2 {
    position: relative;
    color: $white;
    z-index: 1000;
  }
}

//Overlay
.overlay {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: $blue;
  z-index: 2;
}

// hover overlay
.grid .about-us:hover .overlay {
  opacity: 0.6;
}

.grid .menus:hover .overlay {
  opacity: 0.6;
}

.grid .the-fam:hover .overlay {
  opacity: 0.6;
}

.grid .catering:hover .overlay {
  opacity: 0.6;
}

/*Grid Menu section ends*/

/*Menu Page Starts*/
#menu-body {
  background-color: $black;
}

//Button styles
.btn {
  position: relative;
  display: block;
  color: $white;
  font-size: 1.7rem;
  font-family: $MainFont;
  text-decoration: none;
  border: 2px solid $white;
  border-radius: 5px;
  width: fit-content;
  padding: 1.5rem 3rem;
  margin: auto;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  z-index: 2;
  text-align: center;
}

.btn::before {
  background: $blue;
  content: "";
  // width: 100%;
  // height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}
.btn-intro::before,
.btn-truck-menu::before,
.btn-night-menu::before,
.btn-full-menu::before {
  width: 200%;
  height: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn:hover::before {
  height: 300%;
}

.menu-grid {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: $black;
}

.menu-grid .menu-intro {
  width: 50%;
  background-color: $black;

  h2 {
    margin-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 8rem;
    padding-bottom: 5%;
    color: $white;
    text-transform: uppercase;
  }

  p {
    font-size: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    color: $white;
  }

  #intro-button {
    padding: 10%;
  }
}

.menu-grid .menu-picture {
  width: 50%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#intro-buttons .tab-header {
  display: flex;
  height: 15vh;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background-color: $black;
  margin-top: 10%;

  div {
    padding: 0 1rem;
  }
}

#menu-content {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  background-color: $black;
  color: $white;
}

.tab-content-grid .menu-items {
  //display: grid;
  grid-template-columns: 1fr 1fr;
  display: none;
  text-align: center;
  grid-gap: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $black;

  .price-info {
    font-size: 1.5 rem;
    font-weight: 1000;
  }
}

.tab-content-grid #full-menu {
  h2 {
    font-size: 6rem;
  }

  h3 {
    padding-top: 5%;
  }

  .spacing {
    padding-top: 20%;
  }
}

.tab-content-grid .menu-items > div {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 3.8rem;
    padding-bottom: 1rem;
  }

  h4 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.8rem;
    line-height: 150%;
  }
}

.tab-content-grid .menu-items.active {
  display: grid;
}
/*Menu Page content ends*/

/*Catering Page Code Starts*/
.catering {
  background: url(/images/catering-hero-temp.jpg) rgba(3, 177, 250, 0.9);
  background-size: cover;
  display: flex;
  position: relative;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: top center;
  background-blend-mode: multiply;
  //  background-blend-mode: overlay;
  /*
    Parallax code below
    fixed for parallax
    scroll for normal scrolling
    */
  background-attachment: fixed;
}

.catering-headline {
  display: flex;
  height: 8vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 3%;

  h1 {
    font-size: 8rem;
    letter-spacing: 6px;
    color: $white;
    text-transform: uppercase;
  }
}

#catering-services {
  min-height: 40vh;
}

.services-content {
  display: flex;
  flex-direction: column;
}

.catering-services-headline {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 2.5%;

  h2 {
    padding-top: 2.5%;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    //color: $blue;
  }
}

.catering-services-content {
  display: flex;
  //padding: inherit 15%;
  height: 35vh;
  width: 100%;
  justify-content: space-between;
}

.catering-services-content div {
  width: 100%;

  h3 {
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $blue;
  }

  p {
    padding: 5% 15%;
    text-align: center;
    font-size: 2rem;
  }
}

#catering-img-divider {
  display: flex;
  height: 70vh;
  width: 100%;
  background-image: url(/images/catering-divder-img.jpg); /*,radial-gradient(#28a3dd, #0d7751)*/
  background-size: cover;
  background-position: 60%;
  //background-blend-mode: multiply,screen, overlay;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
  color: $white;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 0.2rem;
    min-width: 30vw;
  }

  &::before {
    background: linear-gradient(to right, rgba(240, 240, 240, 0), #fff);
    margin-right: 4vh;
  }

  &::after {
    background: linear-gradient(to left, rgba(240, 240, 240, 0), #fff);
    margin-left: 4vh;
  }
}

#catering-menu {
  width: 100%;
  height: 100vh;
}

.dinner-package {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    padding-top: 5%;
    font-size: 7rem;
    font-weight: 500;
    letter-spacing: 3px;
  }

  h2 {
    padding-top: 1rem;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: $blue;
  }

  h3 {
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 300;
  }
}

.catering-menu-container {
  padding: 5% 10%;
}

.catering-menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  div {
    text-align: center;

    h1 {
      font-size: 6rem;
      letter-spacing: 2px;
      font-weight: 500;
      padding-bottom: 1rem;
      color: $blue;
    }

    h2 {
      font-size: 3rem;
      font-weight: 400;
      padding-top: 1.5rem;
    }
    h3 {
      font-size: 2rem;
      font-weight: 300;
    }
  }
}
/*Catering Page Code Ends*/

/*Footer starts*/
footer {
  display: flex;
  margin-top: auto;
  height: 50px;
  width: 100%;
  background-color: $black;

  .footer-content {
    display: flex;
    width: inherit;
  }

  .socials {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;

    li div a {
      width: 100%;
      height: 100%;

      i {
        font-size: 3rem;
        color: $blue;
      }
    }
  }

  .links {
    display: flex;
    margin-left: auto;
    padding-right: 5%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .links li {
    color: $blue;
    list-style: none;
    display: flex;
    margin-left: 2rem;

    .footer-icons {
      display: flex;
      border-radius: 25px;
      border: 1px solid $blue;
      height: 3.3rem;
      width: 3.3rem;

      i {
        position: relative;
        font-size: 1.8rem;
        top: 22%;
        left: 30%;
      }
    }

    .mobile-footer-icon {
      display: flex;
      display: none;
      border-radius: 25px;
      border: 1px solid $blue;
      height: 3.3rem;
      width: 3.3rem;

      a {
        width: 100%;
        height: 100%;

        i {
          font-size: 2.1rem;
          top: 22%;
          left: 25%;
          position: relative;
          color: #03b1fa;
        }

        .fa-mobile-alt {
          left: 28%;
        }
      }
    }

    .desktop-footer-link {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      color: $gun-smoke;
      margin-left: 0.5rem;
    }
  }
}

/*Media Queries*/
// Home Page Queries
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

// Home Page Queries
@media screen and (max-width: 600px) {
  /*Nav media queries*/
  nav {
    justify-content: space-between;
  }

  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: $dark-grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links a {
    font-size: 2.3rem;
  }

  .hamburger {
    display: inline-flex;
    position: relative;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .grid {
    grid-template-columns: 1fr;
  }

  /*Fam Page Media Queries*/
  #the-fam {
    height: 90vh;
  }

  #the-fam .fam-headline {
    margin: 12% 0;

    h1 {
      font-size: 6.5rem;
    }
    //padding-bottom: 5%;
  }

  #the-fam .swiper-slide {
    width: 202px;
    height: 366px;
  }

  #the-fam .swiper-slide .card .img-box {
    object-position: 10% 10%;
  }

  /*Menu Media Queries*/
  .menu-grid {
    flex-direction: column-reverse;
    height: 140vh;
    max-height: 200vh;

    .menu-intro {
      width: 100%;
      height: 90vh;
      padding-bottom: 10%;
    }

    .menu-picture {
      width: 100%;
      height: 60vh;
    }
  }

  .tab-content-grid .menu-items {
    grid-template-columns: 1fr;
  }

  #menu-content {
    margin-top: 15%;
  }

  .btn {
    padding: 1.5rem 1.5rem;
  }

  /*Catering Page Media Queries*/

  .footer-icons {
    display: none !important;

    i {
      display: none !important;
    }
  }

  .desktop-footer-link {
    display: none !important;
  }

  .mobile-footer-icon {
    display: flex !important;
  }
}

// Animation Keyframes
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes top-line-to-x {
  0% {
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes top-line-rotate {
  0% {
  }
  100% {
    transform: rotateZ(-45deg);
  }
}

@keyframes mid-line-to-x {
  0% {
  }
  100% {
    opacity: 0;
  }
}

@keyframes bottom-line-to-x {
  0% {
  }
  100% {
    transform: translateY(50%);
  }
}

@keyframes bottom-line-rotate {
  0% {
  }
  100% {
    transform: rotateZ(45deg);
  }
}

@keyframes fade {
  0% {
  }
  100% {
    opacity: 0;
  }
}
