* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

/*Sass Variables*/
html {
  font-size: 10px;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/*Nav Code Starts here*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
  min-height: 8vh;
  width: 100vw;
  background-color: #212121;
  z-index: 2000;
}

.logo {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.logo h4 {
  font-size: 2.5rem;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 45%;
  z-index: 2000;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 100;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #03b1fa;
}

.hamburger {
  display: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.hamburger div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hamburger .bar1 {
  top: 15%;
  left: 0;
}

.hamburger .bar2 {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hamburger .bar3 {
  bottom: 15%;
  left: 0;
}

.nav-toggle .bar1 {
  -webkit-animation: top-line-to-x 0.8s ease-in forwards, top-line-rotate 0.25s 0.4s ease-in forwards;
          animation: top-line-to-x 0.8s ease-in forwards, top-line-rotate 0.25s 0.4s ease-in forwards;
  top: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.nav-toggle .bar2 {
  -webkit-animation: fade 0.4s ease-in forwards;
          animation: fade 0.4s ease-in forwards;
  opacity: 1;
}

.nav-toggle .bar3 {
  -webkit-animation: bottom-line-to-x 0.8s ease-in forwards, bottom-line-rotate 0.25s 0.4s ease-in forwards;
          animation: bottom-line-to-x 0.8s ease-in forwards, bottom-line-rotate 0.25s 0.4s ease-in forwards;
  bottom: 45%;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Hero Section Starts*/
.hero {
  background-image: url(/images/hero-image-3.jpg);
  background-size: cover;
  display: block;
  position: relative;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: top center;
  /*
    Parallax code below
    fixed for parallax
    scroll for normal scrolling
    */
  background-attachment: fixed;
}

/*Hero Section Ends*/
/*Grid Menu section starts*/
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: 70vh;
}

.grid > div {
  padding: 1em;
}

.grid .about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
}

.grid .about-us h2 {
  font-size: 6rem;
}

.grid .about-us::before {
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: url(/images/about-us-b-w.jpg);
}

.grid .about-us .about-us-content {
  position: relative;
  z-index: 1000;
}

.grid .about-us .about-us-content h2 {
  position: relative;
  color: #fff;
  z-index: 1000;
}

.grid .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
}

.grid .menus h2 {
  font-size: 6rem;
}

.grid .menus::before {
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: url(/images/menu-b-w.jpg);
}

.grid .menus .menus-content {
  position: relative;
  z-index: 1000;
}

.grid .menus .menus-content h2 {
  position: relative;
  color: #fff;
  z-index: 1000;
}

.grid .the-fam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
}

.grid .the-fam h2 {
  font-size: 6rem;
}

.grid .the-fam::before {
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: url(/images/fam-b-w.jpg);
}

.grid .the-fam .fam-content {
  position: relative;
  z-index: 1000;
}

.grid .the-fam .fam-content h2 {
  position: relative;
  color: #fff;
  z-index: 1000;
}

.grid .catering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
}

.grid .catering h2 {
  font-size: 6rem;
}

.grid .catering::before {
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: url(/images/cater-b-w.jpg);
}

.grid .catering .catering-content {
  position: relative;
  z-index: 1000;
}

.grid .catering .catering-content h2 {
  position: relative;
  color: #fff;
  z-index: 1000;
}

.overlay {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #03b1fa;
  z-index: 2;
}

.grid .about-us:hover .overlay {
  opacity: 0.6;
}

.grid .menus:hover .overlay {
  opacity: 0.6;
}

.grid .the-fam:hover .overlay {
  opacity: 0.6;
}

.grid .catering:hover .overlay {
  opacity: 0.6;
}

/*Grid Menu section ends*/
/*Menu Page Starts*/
#menu-body {
  background-color: #121212;
}

.btn {
  position: relative;
  display: block;
  color: #fff;
  font-size: 1.7rem;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5rem 3rem;
  margin: auto;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  z-index: 2;
  text-align: center;
}

.btn::before {
  background: #03b1fa;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.btn-intro::before,
.btn-truck-menu::before,
.btn-night-menu::before,
.btn-full-menu::before {
  width: 200%;
  height: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.btn:hover::before {
  height: 300%;
}

.menu-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #121212;
}

.menu-grid .menu-intro {
  width: 50%;
  background-color: #121212;
}

.menu-grid .menu-intro h2 {
  margin-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 8rem;
  padding-bottom: 5%;
  color: #fff;
  text-transform: uppercase;
}

.menu-grid .menu-intro p {
  font-size: 2rem;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  color: #fff;
}

.menu-grid .menu-intro #intro-button {
  padding: 10%;
}

.menu-grid .menu-picture {
  width: 50%;
}

.menu-grid .menu-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#intro-buttons .tab-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15vh;
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #121212;
  margin-top: 10%;
}

#intro-buttons .tab-header div {
  padding: 0 1rem;
}

#menu-content {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  background-color: #121212;
  color: #fff;
}

.tab-content-grid .menu-items {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  display: none;
  text-align: center;
  grid-gap: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #121212;
}

.tab-content-grid .menu-items .price-info {
  font-size: 1.5 rem;
  font-weight: 1000;
}

.tab-content-grid #full-menu h2 {
  font-size: 6rem;
}

.tab-content-grid #full-menu h3 {
  padding-top: 5%;
}

.tab-content-grid #full-menu .spacing {
  padding-top: 20%;
}

.tab-content-grid .menu-items > div {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.tab-content-grid .menu-items > div h2 {
  font-size: 3rem;
}

.tab-content-grid .menu-items > div h3 {
  font-size: 3.8rem;
  padding-bottom: 1rem;
}

.tab-content-grid .menu-items > div h4 {
  font-size: 2.5rem;
}

.tab-content-grid .menu-items > div p {
  font-size: 1.8rem;
  line-height: 150%;
}

.tab-content-grid .menu-items.active {
  display: -ms-grid;
  display: grid;
}

/*Menu Page content ends*/
/*The Fam Page starts*/
.the-fam {
  margin-top: 8vh;
}

/*The Fam Page ends*/
/*Footer starts*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  height: 50px;
  width: 100%;
  background-color: #121212;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
}

footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
}

footer .socials li div a {
  width: 100%;
  height: 100%;
}

footer .socials li div a i {
  font-size: 3rem;
  color: #03b1fa;
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-right: 5%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .links li {
  color: #03b1fa;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2rem;
}

footer .links li .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px;
  border: 1px solid #03b1fa;
  height: 3.3rem;
  width: 3.3rem;
}

footer .links li .footer-icons i {
  position: relative;
  font-size: 1.8rem;
  top: 22%;
  left: 30%;
}

footer .links li .mobile-footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  border-radius: 25px;
  border: 1px solid #03b1fa;
  height: 3.3rem;
  width: 3.3rem;
}

footer .links li .mobile-footer-icon a {
  width: 100%;
  height: 100%;
}

footer .links li .mobile-footer-icon a i {
  font-size: 2.1rem;
  top: 22%;
  left: 25%;
  position: relative;
  color: #03b1fa;
}

footer .links li .mobile-footer-icon a .fa-mobile-alt {
  left: 28%;
}

footer .links li .desktop-footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: #878787;
  margin-left: 0.5rem;
}

/*Media Queries*/
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  /*Nav media queries*/
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #212121;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s ease-in;
    transition: -webkit-transform 0.4s ease-in;
    transition: transform 0.4s ease-in;
    transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links a {
    font-size: 2.3rem;
  }
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  /*Menu Media Queries*/
  .menu-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 140vh;
    max-height: 200vh;
  }
  .menu-grid .menu-intro {
    width: 100%;
    height: 90vh;
    padding-bottom: 10%;
  }
  .menu-grid .menu-picture {
    width: 100%;
    height: 60vh;
  }
  .tab-content-grid .menu-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #menu-content {
    margin-top: 15%;
  }
  .btn {
    padding: 1.5rem 1.5rem;
  }
  .footer-icons {
    display: none !important;
  }
  .footer-icons i {
    display: none !important;
  }
  .desktop-footer-link {
    display: none !important;
  }
  .mobile-footer-icon {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes top-line-to-x {
  0% {
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes top-line-to-x {
  0% {
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@-webkit-keyframes top-line-rotate {
  0% {
  }
  100% {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
  }
}

@keyframes top-line-rotate {
  0% {
  }
  100% {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
  }
}

@-webkit-keyframes mid-line-to-x {
  0% {
  }
  100% {
    opacity: 0;
  }
}

@keyframes mid-line-to-x {
  0% {
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes bottom-line-to-x {
  0% {
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@keyframes bottom-line-to-x {
  0% {
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@-webkit-keyframes bottom-line-rotate {
  0% {
  }
  100% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
}

@keyframes bottom-line-rotate {
  0% {
  }
  100% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
}

@-webkit-keyframes fade {
  0% {
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */