* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Sass Variables*/
//Font

//Colors
$off-white: #F0EBED;
$gunsmoke: #7F8484;
$dark-grey: #69656A;
$hurricane: #8B8182;
$dark-blue: #121F34;



//Semantic Color Names
$content-background-light: $off-white;
$content-background-dark: $dark-blue;
$main-brand-color: $dark-grey;
$light-accent: $gunsmoke;
$dark-accent: $hurricane;


html{
    font-size: 10px;
}

html, body{
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Hero Section Starts*/
.hero {
    background-image: url(/images/temp-background.jpg);
    background-size: cover;
    display: block;
    position: relative;
    opacity: 0.8;
    background-repeat: no-repeat;

    /*
    Parallax code below
    fixed for parallax
    scroll for normal scrolling
    */
    background-attachment: fixed;
}

/*Hero Section Ends*/

/*Catering Section Starts*/
.catering {
    display: flex;
}

.catering-content {
    width: 50%;
    min-height: 100vh;
    background-color: $off-white;
}

.catering-picture {
    width: 50%;
    min-height: 100vh;
    background-image: url(/images/catering-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Catering Section Ends*/

/*Menu Section Starts*/
.menu {
    display: flex;
    min-height: 80vh;
}

.menu-content {
    width: 40%;
    min-height: 80vh;
    background-color: $dark-blue;
}

.menu-picture {
    width: 60%;
    min-height: 80vh;
    background-image: url(/images/menu-temp-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*Menu Section Ends*/

/*Our Story Section Starts*/
.our-story {
    display: flex;
    min-height: 85vh;
}

.our-story-content {
    width: 45%;
    min-height: 85vh;
    background-color: $off-white;
}

.our-story-picture {
    width: 55%;
    min-height: 85vh;
    background-image: url(/images/our-story-temp-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*Our Story Section Ends*/

/*Our Family Section starts*/
.our-family {
    display: flex;
    min-height: 90vh;
}
 
.our-family-picture {
    width: 70%;
    min-height: 90vh;
    background-image: url(/images/temp-our-family-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.our-family-content {
    width: 30%;
    min-height: 90vh;
    background-color: $dark-blue;
}
/*Our Family Section Ends*/