* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

/*Sass Variables*/
html {
  font-size: 10px;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Hero Section Starts*/
.hero {
  background-image: url(/images/temp-background.jpg);
  background-size: cover;
  display: block;
  position: relative;
  opacity: 0.8;
  background-repeat: no-repeat;
  /*
    Parallax code below
    fixed for parallax
    scroll for normal scrolling
    */
  background-attachment: fixed;
}

/*Hero Section Ends*/
/*Grid Menu section starts*/
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: 70vh;
}

.grid > div {
  background: #ddd;
  padding: 1em;
}

.grid .about-us {
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(/images/our-story-background.jpg);
  -webkit-backdrop-filter: grayscale(100%);
          backdrop-filter: grayscale(100%);
}

.grid .about-us h2 {
  font-size: 6rem;
}

.grid .menus {
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(/images/full-menu-background.jpg);
}

.grid .menus h2 {
  font-size: 6rem;
}

.grid .the-fam {
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(/images/temp-our-family-pic.jpg);
}

.grid .the-fam h2 {
  font-size: 6rem;
}

.grid .catering {
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(/images/catering-menu-background.jpg);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.grid .catering h2 {
  font-size: 6rem;
}

/*Grid Menu section ends*/
/*Menu Page Starts*/
.menu-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100vh;
}

/*Menu Page Ends*/
/*# sourceMappingURL=styles.css.map */