* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
}

/*Sass Variables*/
//Font
$MainFont: "Open Sans", sans-serif;

//Colors
$off-white: #e8eef1;
$blue: #0000ff;
$white: #fff;
$dark-grey: #212121;
$dark-blue: #050a30;
$black: #000;

//Sass mixins
@mixin menuBox {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 6rem;
  }
}

html {
  font-size: 10px;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Hero Section Starts*/
.hero {
  background-image: url(/images/temp-background.jpg);
  background-size: cover;
  display: block;
  position: relative;
  opacity: 0.8;
  background-repeat: no-repeat;

  /*
    Parallax code below
    fixed for parallax
    scroll for normal scrolling
    */
  background-attachment: fixed;
}

/*Hero Section Ends*/

/*Grid Menu section starts*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 70vh;
}

.grid > div {
  background: #ddd;
  padding: 1em;
}

.grid .about-us {
  @include menuBox();

  background-image: url(/images/our-story-background.jpg);
  backdrop-filter: grayscale(100%);
}

.grid .menus {
  @include menuBox();

  background-image: url(/images/full-menu-background.jpg);
}

.grid .the-fam {
  @include menuBox();

  background-image: url(/images/temp-our-family-pic.jpg);
}

.grid .catering {
  @include menuBox();

  background-image: url(/images/catering-menu-background.jpg);
  filter: grayscale(100%);
}
/*Grid Menu section ends*/

/*Menu Page Starts*/
//Button styles
.btn {
  position: relative;
  display: block;
  color: $white;
  font-size: 1.7rem;
  font-family: $MainFont;
  text-decoration: none;
  border: 2px solid $white;
  width: fit-content;
  padding: 1.5rem 3rem;
  margin: auto 2rem;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  z-index: 2;
}

.btn::before {
  background: $blue;
  content: "";
  // width: 100%;
  // height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}
.btn-intro::before,
.btn-truck-menu::before,
.btn-night-menu::before,
.btn-full-menu::before {
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn:hover::before {
  height: 300%;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  background-color: $black;
}

.menu-grid .menu-intro {
  h2 {
    margin-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 6rem;
    padding-bottom: 5%;
    color: $white;
  }

  p {
    font-size: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    color: $white;
  }

  #intro-button {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
  }
}

.menu-grid .menu-picture {
  background-image: url(/images/menu-temp-pic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.menu-tabs .tab-header {
  display: flex;
  height: 15vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: $black;
}

.tab-content-grid .menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
/*Menu Page Ends*/
